<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Библиотеки" data-toc-modified-id="Библиотеки-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Библиотеки</a></span></li><li><span><a href="#Создание" data-toc-modified-id="Создание-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Создание</a></span><ul class="toc-item"><li><span><a href="#из-списка" data-toc-modified-id="из-списка-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>из списка</a></span></li><li><span><a href="#из-словаря" data-toc-modified-id="из-словаря-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>из словаря</a></span></li><li><span><a href="#при-помощи-функций" data-toc-modified-id="при-помощи-функций-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>при помощи функций</a></span></li><li><span><a href="#из-файла" data-toc-modified-id="из-файла-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span><a href="http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5" target="_blank">из файла</a></a></span></li></ul></li><li><span><a href="#Свойства" data-toc-modified-id="Свойства-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Свойства</a></span><ul class="toc-item"><li><span><a href="#создаем-Series-для-примеров" data-toc-modified-id="создаем-Series-для-примеров-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>создаем Series для примеров</a></span></li><li><span><a href="#тип-данных" data-toc-modified-id="тип-данных-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>тип данных</a></span></li><li><span><a href="#количество-элементов" data-toc-modified-id="количество-элементов-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>количество элементов</a></span></li><li><span><a href="#количество-уникальных-элементов" data-toc-modified-id="количество-уникальных-элементов-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>количество уникальных элементов</a></span></li><li><span><a href="#индекс-и-значения" data-toc-modified-id="индекс-и-значения-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>индекс и значения</a></span></li><li><span><a href="#присвоение-/-изменения-имени" data-toc-modified-id="присвоение-/-изменения-имени-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>присвоение / изменения имени</a></span><ul class="toc-item"><li><span><a href="#name-объекта-Series" data-toc-modified-id="name-объекта-Series-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>name объекта Series</a></span></li><li><span><a href="#индекса" data-toc-modified-id="индекса-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>индекса</a></span></li><li><span><a href="#столбца" data-toc-modified-id="столбца-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>столбца</a></span></li></ul></li></ul></li><li><span><a href="#Вывод-значений" data-toc-modified-id="Вывод-значений-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Вывод значений</a></span><ul class="toc-item"><li><span><a href="#первые-/-последние-строки" data-toc-modified-id="первые-/-последние-строки-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>первые / последние строки</a></span></li><li><span><a href="#столбцы" data-toc-modified-id="столбцы-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>столбцы</a></span></li><li><span><a href="#строки" data-toc-modified-id="строки-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>строки</a></span><ul class="toc-item"><li><span><a href="#по-метке" data-toc-modified-id="по-метке-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>по метке</a></span></li><li><span><a href="#по-позиции" data-toc-modified-id="по-позиции-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>по позиции</a></span></li></ul></li><li><span><a href="#поиск-скалярного-значения" data-toc-modified-id="поиск-скалярного-значения-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>поиск скалярного значения</a></span></li><li><span><a href="#одновременный-отбор-строк-и-столбцов" data-toc-modified-id="одновременный-отбор-строк-и-столбцов-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>одновременный отбор строк и столбцов</a></span></li><li><span><a href="#транспонирование" data-toc-modified-id="транспонирование-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>транспонирование</a></span></li><li><span><a href="#переиндексация" data-toc-modified-id="переиндексация-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>переиндексация</a></span></li><li><span><a href="#случайная-выборка" data-toc-modified-id="случайная-выборка-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>случайная выборка</a></span></li><li><span><a href="#настройки-вывода" data-toc-modified-id="настройки-вывода-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span><a href="http://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options" target="_blank">настройки вывода</a></a></span></li></ul></li><li><span><a href="#Срезы-данных" data-toc-modified-id="Срезы-данных-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Срезы данных</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>DataFrame</a></span></li></ul></li><li><span><a href="#Копирование-данных-и-ссылки" data-toc-modified-id="Копирование-данных-и-ссылки-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Копирование данных и ссылки</a></span></li></ul></div>

## Библиотеки

In [2]:
import numpy as np
import pandas as pd

## Создание

### из списка

создаем Series значений из списка целых чисел

In [3]:
s = pd.Series(data=[10, 11, 12, 13, 14],
             index=[1, 2, 3, 5, 7])
s

1    10
2    11
3    12
5    13
7    14
dtype: int64

In [4]:
s = pd.Series(data=[10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

создаем Series из строковых значений

In [5]:
s = pd.Series(['Blue', 'Yellow', 'Green'])
s

0      Blue
1    Yellow
2     Green
dtype: object

In [6]:
l = [[1, 2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

создаем DataFrame  из двумерного списка

In [7]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

In [8]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                 columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

создаем DataFrame для списка объектов Series

In [9]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

задаем имена столбцов после создания DataFrame

In [10]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

### из словаря

создаем объект Series из словаря, при этом посмотрим, как изменились индексы

In [11]:
s = pd.Series({'Homer': 'Dad',
               'Marge': 'Mom',
               'Bart': 'Son',
               'Lisa': 'Daughter',
               'Maggie': 'Daughter'
})
s

Homer          Dad
Marge          Mom
Bart           Son
Lisa      Daughter
Maggie    Daughter
dtype: object

создаем DataFrame с помощью Python словаря

In [12]:
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1': list_1,
                'col_2': list_2
}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

создание DataFrame с помощью словаря, состоящего из объектов Series

In [13]:
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])
temperatures = {'col_1': series_1,
                'col_2': series_2
}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

### при помощи функций

создание Series, используя np.arange - последовательность чисел от **start** до **stop-1** с шагом **step**:
```python 
np.arange(start, stop, step) 
```

In [14]:
s = pd.Series(np.arange(15, 25, 2))
s

0    15
1    17
2    19
3    21
4    23
dtype: int32

создаем Series из 5 значений, равномерно разбивающих отрезок от 0 до 9

In [15]:
s = pd.Series(np.linspace(0, 9, 5))
s

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

Генерация случайных чисел.

Зафиксируем значение seed, что позволит нам в будущем воспроизводить свои результаты.

Создадим объект Series из 5 нормально распределенных случайных чисел

In [16]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

Создадим объект DataFrame размерности 4х3 из случайных чисел

In [17]:
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4, 3),
                 index=['ind_1', 'ind_2', 'ind_3', 'ind_4'],
                 columns=['col_1', 'col_2', 'col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

In [18]:
pd.read_csv("data/sp500.csv",
           sep=';')

    Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0    MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,...
1    ABT,Abbott Laboratories,Health Care,39.60,1.82...
2    ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,...
3    ACN,Accenture,Information Technology,79.79,2.3...
4    ACE,ACE Limited,Financials,102.91,2.21,10.00,1...
..                                                 ...
495  YHOO,Yahoo Inc.,Information Technology,35.02,,...
496  YUM,Yum! Brands Inc,Consumer Discretionary,74....
497  ZMH,Zimmer Holdings,Health Care,101.84,0.81,22...
498  ZION,Zions Bancorp,Financials,28.43,0.56,18.82...
499  ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1....

[500 rows x 1 columns]

разделитель

In [19]:
pd.read_csv(filepath_or_buffer="data/sp500.csv",
           sep=',')

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.1210,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.3590,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.1900,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.4230,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.2750,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,YHOO,Yahoo Inc.,Information Technology,35.02,NaN,28.94,1.199,12.768,23.82,41.72,35.258,0.8873,7.48,2.72,http://www.sec.gov/cgi-bin/browse-edgar?action...
496,YUM,Yum! Brands Inc,Consumer Discretionary,74.77,1.93,29.86,2.507,5.147,64.08,79.70,33.002,2.8640,2.49,14.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
497,ZMH,Zimmer Holdings,Health Care,101.84,0.81,22.92,4.441,37.181,74.55,108.33,17.091,1.6890,3.68,2.74,http://www.sec.gov/cgi-bin/browse-edgar?action...
498,ZION,Zions Bancorp,Financials,28.43,0.56,18.82,1.511,30.191,26.39,33.33,5.257,0.0000,2.49,0.94,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1.038,2.150,28.14,34.28,15.296,1.2920,3.33,14.11,http://www.sec.gov/cgi-bin/browse-edgar?action...

количество строк

In [20]:
pd.read_csv("data/sp500.csv",
           nrows=3)

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

столбцы

In [21]:
pd.read_csv("data/sp500.csv",
           nrows=3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

  Symbol       Sector   Price  Book Value
0    MMM  Industrials  141.14      26.668
1    ABT  Health Care   39.60      15.573
2   ABBV  Health Care   53.95       2.954

индекс

In [22]:
pd.read_csv("data/sp500.csv",
           nrows=3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

итератор

In [23]:
df_chank = pd.read_csv("data/sp500.csv",
            chunksize=50,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

In [24]:
for df_tmp in df_chank:
    print('DataFrame part:', df_tmp.shape)

DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)
DataFrame part: (50, 4)

In [25]:
sp500 = pd.read_csv("data/sp500.csv",
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

## Свойства

### создаем Series для примеров

In [26]:
Simpsons = pd.Series({
    'Homer': 120,
    'Marge': 60,
    'Bart': 35,
    'Lisa': 30,
    'Maggie': 7
})
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
dtype: int64

In [27]:
np.random.seed(123)
numbers = pd.Series(data=np.random.normal(size=10),
                   index=np.arange(25, 35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

### тип данных

In [28]:
Simpsons.dtype

dtype('int64')

In [29]:
sp500.dtypes

Sector         object
Price         float64
Book Value    float64
dtype: object

### количество элементов

Series:

In [30]:
print('Первый способ:', len(Simpsons))
print('Второй способ:', Simpsons.size)
print('Третий способ:', Simpsons.shape)

Первый способ: 5
Второй способ: 5
Третий способ: (5,)

DataFrame:

In [31]:
print('Первый способ:', len(sp500))
print('Второй способ:', sp500.size)
print('Третий способ:', sp500.shape)

Первый способ: 500
Второй способ: 1500
Третий способ: (500, 3)

### количество уникальных элементов

In [32]:
Simpsons.nunique()

5

In [33]:
sp500.nunique()

Sector         13
Price         495
Book Value    495
dtype: int64

### индекс и значения

Series:

In [34]:
Simpsons.index

Index(['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'], dtype='object')

In [35]:
Simpsons.values

array([120,  60,  35,  30,   7], dtype=int64)

DataFrame:

In [36]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [37]:
sp500.values

array([['Industrials', 141.14, 26.668000000000003],
       ['Health Care', 39.6, 15.573],
       ['Health Care', 53.95, 2.9539999999999997],
       ...,
       ['Health Care', 101.84, 37.181],
       ['Financials', 28.43, 30.191],
       ['Health Care', 30.53, 2.15]], dtype=object)

In [38]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

### присвоение / изменения имени

#### name объекта Series

In [39]:
Simpsons.name = 'Simpsons weight'
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

#### индекса

In [40]:
Simpsons.index.name = 'First name'
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

#### столбца

In [41]:
sp500_copy = sp500.rename(columns={'Book Value': 'BookValue'})

Проверяем, не изменились ли имена столбцов в исходном DataFrame

In [42]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [43]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

этот программный код переименовывает столбец на месте

In [44]:
sp500_copy.rename(columns={'Book Value': 'BookValue'},
                 inplace=True)

смотрим, изменилось ли имя столбца

In [45]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

## Вывод значений

### первые / последние строки

In [46]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [47]:
sp500.tail(3)

             Sector   Price  Book Value
Symbol
ZMH     Health Care  101.84      37.181
ZION     Financials   28.43      30.191
ZTS     Health Care   30.53       2.150

### столбцы

### строки

#### по метке

**Series**

In [48]:
numbers.loc[[25, 33]]

25   -1.085631
33    1.265936
dtype: float64

ошибка - нет метки

In [49]:
numbers.loc[0]

KeyError: 0

**DataFrame**

Получаем строку с меткой индекса МММ, которая возвращается в виде объекта Series

In [50]:
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [51]:
type(sp500.loc['MMM'])

pandas.core.series.Series

Получаем строки МММ и MSFT, результатом будет объект DataFrame

In [52]:
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [53]:
type(sp500.loc[['MMM', 'MSFT']])

pandas.core.frame.DataFrame

#### по позиции

**Series**

In [54]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

по позиции

In [55]:
numbers.iloc[[5, -5]]

30    1.651437
30    1.651437
dtype: float64

ошибка

In [56]:
numbers.iloc[10]

IndexError: single positional indexer is out-of-bounds

**DataFrame**

получаем строки, имеющие позиции 0 и 2

In [ ]:
sp500.iloc[[0, 2]]

получаем позиции меток ММM и А в индексе

In [ ]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

и извлекаем строки

In [ ]:
sp500.iloc[[i1, i2]]

### поиск скалярного значения

In [ ]:
sp500.head(5)

In [ ]:
i1 = sp500.index.get_loc('MMM')
sp500.iloc[i1]

ищем скалярное значение по метке строки и метке (имени) столбца

In [ ]:
sp500.at['MMM', 'Price']

ищем скалярное значение по позиции строки и столбца; извлекаем значение в строке 0, столбце 1

In [ ]:
sp500.iat[0, 1]

### одновременный отбор строк и столбцов

отбираем строки с метками индекса ABT и ZTS для столбцов Sector и Price

In [ ]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

In [ ]:
sp500.loc[['ABT', 'ZTS'],['Sector', 'Price']]

определение номера позиций заданных меток

In [ ]:
print(sp500.index.get_loc('ABT'), sp500.index.get_loc('ZTS'))

отбор строки и столбцов по номеру позиций

In [ ]:
sp500.iloc[[1, 499], [0, 1]]

### транспонирование

In [ ]:
sp500.head(5)

In [ ]:
sp500.T.head()

### переиндексация

ошибка:

In [ ]:
sp500.loc[['MMM', 'ABBV', 'NEW VALUE']]

делаем переиндексацию, задав метки МММ, АВВV и NEW VALUE

In [ ]:
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'NEW VALUE'])

обратите внимание, что все индексы, кроме перечисленных при вызове, удалены, а NEW VALUE содержит значения NaN

In [ ]:
reindexed

выполняем переиндексацию столбцов

In [ ]:
sp500.reindex(columns=['Price', 'Book Value', 'NewCol']).head()

при этом можем заполнить отсутсвующие значения константами вместо Nan

In [57]:
sp500.reindex(columns=[
    'Price',
    'Book Value',
    'NewCol'
], fill_value=0). head

<bound method NDFrame.head of          Price  Book Value  NewCol
Symbol
MMM     141.14      26.668       0
ABT      39.60      15.573       0
ABBV     53.95       2.954       0
ACN      79.79       8.326       0
ACE     102.91      86.897       0
...        ...         ...     ...
YHOO     35.02      12.768       0
YUM      74.77       5.147       0
ZMH     101.84      37.181       0
ZION     28.43      30.191       0
ZTS      30.53       2.150       0

[500 rows x 3 columns]>

### случайная выборка

отбираем три случайные строки

In [58]:
sp500.sample(n=3)

                        Sector  Price  Book Value
Symbol
ZION                Financials  28.43      30.191
NOV                     Energy  81.90      52.925
STX     Information Technology  51.95       8.080

случайный отбор 10% наблюдений с возвращением

In [59]:
sp500.sample(frac=5, replace=True, random_state=777)

                        Sector   Price  Book Value
Symbol
CLF                  Materials   16.34      34.523
MHK     Consumer Discretionary  136.41      61.582
BDX                Health Care  115.70      27.510
HOT     Consumer Discretionary   78.73      17.218
CELG               Health Care  150.13      11.200
...                        ...     ...         ...
BTU                     Energy   17.22      14.644
MCO                 Financials   82.50       1.803
LRCX    Information Technology   60.61      29.677
CI                 Health Care   89.24      39.304
MCO                 Financials   82.50       1.803

[2500 rows x 3 columns]

### [настройки вывода](http://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [60]:
pd.options.display.max_rows

60

In [61]:
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [62]:
pd.options.display.max_rows = 10

In [63]:
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [64]:
pd.options.display.max_rows

10

## Срезы данных

### Series

Задаём срез по правилу: [начальная позиция: конечная позиция: величина шага], при этом:
- Правая граница - не включается
- Шаг может быть отрицательным
- Позиция также может быть отрицательной - тогда отсчёт происходит "с другого конца"
- Нумерация происходит от нуля

In [65]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

срез, содержащий элементы с позициями от 1 до 5

In [66]:
numbers.iloc[1:6]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

выбираем элементы в позициях 1, 3, 5 == выбираем элмент с с по 5 позицию с шагом 2

In [68]:
numbers.iloc[1:6:2]

26    0.997345
28   -1.506295
30    1.651437
dtype: float64

можем оставить только конечную позицию

In [69]:
numbers.iloc[:6]

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

либо оставим только начальную позицию

In [70]:
numbers.iloc[3:]

28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

отбираем элементы Series в обратном порядке, начиная с 5

In [71]:
numbers.iloc[5::-1]

30    1.651437
29   -0.578600
28   -1.506295
27    0.282978
26    0.997345
25   -1.085631
dtype: float64

отбор 4 последних строк

In [72]:
numbers.iloc[-4:]

31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

### DataFrame

In [73]:
sp500.iloc[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

в обратном порядке

In [74]:
sp500.iloc[4::-1]

                        Sector   Price  Book Value
Symbol
ACE                 Financials  102.91      86.897
ACN     Information Technology   79.79       8.326
ABBV               Health Care   53.95       2.954
ABT                Health Care   39.60      15.573
MMM                Industrials  141.14      26.668

строки, начиная с метки АВТ и заканчивая меткой АСN

In [75]:
sp500.loc['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

## Копирование данных и ссылки

In [76]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

элменты с 1 по 4

In [77]:
numbers.iloc[[1, 2, 3, 4]]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

сохранили в перменную n

In [78]:
n = numbers.iloc[[1, 2, 3, 4]]

In [79]:
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

присваиваем значение 0 всем элементам

In [80]:
n.iloc[:] = 0
n

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

что-нибудь произошло с numbers?

In [81]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

еще раз сохраним первые 4 элемента

In [83]:
n = numbers.iloc[[1, 2, 3, 4]]
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

создаем переменную k = срез с 1 по 4 элемент

In [84]:
k = numbers[1:5]
k.loc[:] = 0
k

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

In [85]:
numbers

25   -1.085631
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

восстановили numbers

In [86]:
numbers[1:5] = n
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64